.obs-app .navbar {
    /*background-color: #04AA6D !important;*/
}

.image-container img {
    width: 44px;
    margin: 3px 8px 3px 0px;
}

.image-container span {
    color: #ffffff;
    text-transform: uppercase;
}

.dashboard-tails {
    margin: 40px 0px;
}

.dashboard-tails .tails {
    margin: 0px 5px;
    border-radius: 10px;
    text-align: center;
    height: 140px;
}

.dashboard-tails a.tails:hover {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.dashboard-tails .tails h2 {
    margin-top: 35px;
}
